.lt_category_left {
    width: 90px;
    height: 100%;
    float: left;
    /* background-color: lime; */
    position: relative;
}
.lt_category_left ul {
    background-color: #E3E4E5;
}
.lt_category_left a {
    width: 90px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #666;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.lt_category_left a.active {
    background-color: #fff;
    border-right: none;
}

.lt_category_right {
    overflow: hidden;
    height: 100%;
    /* background-color: red; */
    position: relative;
}
.lt_category_right li {
    width: 33.33%;
    float: left;
}
.lt_category_right li img {
    width: 70px;
    height: 50px;
    margin: 0 auto;
}
.lt_category_right li p {
    text-align: center;
    
}