.lt_search {
    padding: 10px;
    position: relative;
}
.lt_search input {
    height: 34px;
    padding: 10px 15px;
    border: 1px solid #007AFF;
    border-radius: 5px;
    font-size: 12px;
    margin: 0;
}
.lt_search button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 0 5px 5px 0;
}

/*  */
.lt_history {
    font-size: 12px;
    padding: 10px;
}

.lt_history .title {
    height: 30px;
    line-height: 30px;
}

.lt_history .content li {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dashed red;
}
.lt_history .content li:last-child {
    border-bottom: none;
}
.lt_history ul {
    border: 1px dashed red;
}
.lt_history .content li a {
    padding: 0 10px;
}
.lt_history .content li i {
    line-height: 30px;
}